---
colors: "bg-zinc-50 text-zinc-900 dark:bg-zinc-900 dark:text-zinc-50"
---
<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <%= render "head", metadata: site.metadata, title: resource.data.title %>
  </head>
  <body class="flex flex-col min-h-screen font-sans space-y-16 <%= layout.data.colors %>">
    <%= render Shared::Navbar.new(metadata: site.metadata, resource: resource, links: site.data.navigation.navbar) %>

    <%= render Ui::Stack.new(classes: "grow mt-16", spacing: "space-y-16") do %>
      <%= render Ui::Alert.new(variant: :error, classes: "-mt-16").with_content("Layout: #{resource.data&.layout&.to_s}") if Bridgetown.env.development? %>
      <%= render Ui::Stack.new(classes: "px-4", as: :main) do %>
        <%= yield %>
      <% end %>
    <% end %>

    <%= render "footer", metadata: site.metadata %>
  </body>
</html>
