---
colors: "bg-zinc-50 text-zinc-900 dark:bg-zinc-900 dark:text-zinc-50"
---
<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <%= render "head", metadata: site.metadata, title: resource.data.title %>
  </head>
  <body class="h-full font-sans <%= layout.data.colors %>">
    <%= render Shared::Navbar.new(metadata: site.metadata, resource: resource, links: site.data.navigation.navbar) %>

    <%= render Ui::Stack.new(classes: "min-h-full mt-16") do %>
      <%= render Ui::Stack.new(classes: "px-4", as: :main) do %>
        <%= yield %>
      <% end %>

      <%= render "footer", metadata: site.metadata %>
    <% end %>
  </body>
</html>
