<% title = resource.data.title || site.metadata.title %>
<% title_with_tagline = title + site.metadata.tagline %>
<% description = resource.data.description || site.metadata.description %>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<% resource_title = strip_html(strip_newlines(title)) %>
<title><%= resource.respond_to?(:layout) && resource.layout.label.to_s == "home" ? title : title_with_tagline %></title>
<meta name="description" content="<%= description %>">

<link rel="preload" href="<%= asset_path "fonts/Hubot-Sans.woff2" %>" as="font" type="font/woff2" crossorigin>
<%= render "scripts/dark_mode" %>

<link rel="stylesheet" href="<%= webpack_path :css %>" data-turbo-track="reload" />
<script src="<%= webpack_path :js %>" defer data-turbo-track="reload"></script>
<%= live_reload_dev_js %>

<%= render "shared/favicons" %>
