<% title = resource.data.title || site.metadata.title %>
<% title_with_tagline = title + site.metadata.tagline %>
<% description = resource.data.description || site.metadata.description %>
<% url = absolute_url resource.relative_url %>
<% post_layout = resource.respond_to?(:layout) && resource.layout.label == "post" %>
<% type = post_layout ? "article" : "website" %>
<% cover = resource.respond_to?(:image) ? resource.image : absolute_url("assets/images/default_social_sharing.png") %>

<%# General settings %>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= resource.respond_to?(:layout) && resource.layout.label.to_s == "home" ? title : title_with_tagline %></title>
<meta name="description" content="<%= description %>">

<%# Preloads for site performance %>
<link rel="preload" href="<%= webpack_path :css %>" as="style">
<link rel="preload" href="<%= webpack_path :js %>" as="script">

<%# Dark mode preferences %>
<%= render "scripts/dark_mode" %>

<%# App CSS and App JS %>
<link rel="stylesheet" href="<%= webpack_path :css %>" data-turbo-track="reload" />
<script src="<%= webpack_path :js %>" defer data-turbo-track="reload"></script>
<%= live_reload_dev_js %>

<%# Favicons %>
<%= render "shared/favicons" %>

<%# Canonical url %>
<link href="<%= "#{site.metadata.base_url}#{resource.relative_url}" %>" rel="canonical">

<%# Open Graph %>
<meta property="og:title" content="<%= title %>">
<meta property="og:description" content="<%= description %>">
<meta property="og:type" content="<%= type %>">
<meta property="og:image" content="<%= cover %>"/>
<meta property="og:image:alt" content="<%= resource.data.image_alt || description %>">
<meta property="og:url" content="<%= url %>">
<meta property="og:site_name" content="<%= site.metadata.title %>">

<%# Twitter %>
<meta name="twitter:title" content="<%= title %>">
<meta name="twitter:card" content="<%= site.metadata.twitter.card %>">
<meta name="twitter:site" content="<%= site.metadata.twitter.username %>">
<meta name="twitter:description" content="<%= description %>">
<meta name="twitter:image" content="<%= cover %>">
<meta name="twitter:creator" content="<%= site.metadata.twitter.username %>">
<meta name="twitter:dnt" content="on">

<%# Other Misc tags %>
<meta name="author" content="<%= site.metadata.author.name %>">
<meta content="Bridgetown" name="generator">
<meta name="referrer" content="no-referrer-when-downgrade">

<%# Webmentions %>
<link rel="webmention" href="https://webmention.io/<%= site.metadata.domain %>/webmention" />
<link rel="pingback" href="https://webmention.io/<%= site.metadata.domain %>/xmlrpc" />

<%# Verification %>
<link rel="me" href="https://github.com/ZilvinasKucinskas">
<link rel="me" href="https://twitter.com/zilkucinskas">
<link rel="me" href="https://www.linkedin.com/in/zilvinaskucinskas/">
<link rel="me" href="https://ruby.social/@zilkucinskas">

<%# JSON-LD %>
<% if post_layout %>
  <%= render "scripts/json_ld",
      title: title,
      description: description,
      url: url,
      date: (resource.data.date || DateTime.current),
      last_modified_at: (resource.data.last_modified_at || DateTime.current) %>
  <meta property="post:published_time" content="<%= resource.data.date || DateTime.current %>" />
<% end %>
