<% title = resource.data.title || site.metadata.title %>
<% title_with_tagline = title + site.metadata.tagline %>
<% description = resource.data.description || site.metadata.description %>
<% url = absolute_url resource.relative_url %>
<% post_layout = resource.respond_to?(:layout) && resource.layout.label == "post" %>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<% resource_title = strip_html(strip_newlines(title)) %>
<title><%= resource.respond_to?(:layout) && resource.layout.label.to_s == "home" ? title : title_with_tagline %></title>
<meta name="description" content="<%= description %>">
<%= render "scripts/dark_mode" %>

<link rel="stylesheet" href="<%= webpack_path :css %>" data-turbo-track="reload" />
<script src="<%= webpack_path :js %>" defer data-turbo-track="reload"></script>
<%= live_reload_dev_js %>

<%= render "shared/favicons" %>

<%# Canonical url %>
<link href="<%= "#{site.metadata.url}#{resource.relative_url}" %>" rel="canonical">

<%# Webmentions %>
<link rel="webmention" href="https://webmention.io/<%= site.metadata.domain %>/webmention" />
<link rel="pingback" href="https://webmention.io/<%= site.metadata.domain %>/xmlrpc" />

<%# Verification %>
<link rel="me" href="https://github.com/ZilvinasKucinskas">
<link rel="me" href="https://twitter.com/zilkucinskas">
<link rel="me" href="https://www.linkedin.com/in/zilvinaskucinskas/">
<link rel="me" href="https://ruby.social/@zilkucinskas">

<%# JSON-LD %>
<% if post_layout %>
  <%= render "scripts/json_ld",
      title: title,
      description: description,
      url: url,
      date: (resource.data.date || DateTime.current),
      last_modified_at: (resource.data.last_modified_at || DateTime.current) %>
  <meta property="post:published_time" content="<%= resource.data.date || DateTime.current %>" />
<% end %>
